<!DOCTYPE html>
<html>
<head>
    <title>Azure Search Sample</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/settings.js"></script>
    <script src="app/search.js"></script>
    <script src="app/main.js"></script>
</head>
<body>
    <div class="container" ng-app="app" ng-controller="main as vm">
        <h2>Azure Search Sample</h2>
        <div class="row well well-lg">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="vm.phrase" placeholder="Enter a search phrase for ex. exception" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-info" ng-click="vm.query()">Search</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#settings">Settings</button>
                </div>
            </div>
        </div>
        <div>
            <div ng-repeat="item in vm.items.value">
                <div class="row well well-sm" style="word-break:break-all">
                    <a class="lead" href="{{item.path}}">{{item.path}}</a>
                    <p class="small">{{item.modified}}</p>
                    <p ng-bind-html="item['@search.highlights'].content[0]"></p>
                </div>            
            </div>
        </div>
        <!-- Settings dialog -->
        <div class="modal fade" id="settings" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Settings</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="index">Index name:</label>
                                <input type="text" class="form-control" id="index" ng-model="vm.settings.indexName" placeholder="For ex. logset-idx" />
                            </div>
                            <div class="form-group">
                                <label for="service">Search service url:</label>
                                <input type="url" class="form-control" id="service" ng-model="vm.settings.searchServiceUrl" placeholder="https://YourSearch.search.windows.net" />
                            </div>
                            <div class="form-group">
                                <label for="index">Search service query key:</label>
                                <input type="text" class="form-control" id="index" ng-model="vm.settings.searchQueryKey" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="vm.reset()">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script>$('#settings').modal('show');</script>
</body>
</html>
