body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
    padding-top: 50px;
}

*, h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.navbar-logo {
    float: left;
    height: 48px;
    margin-bottom: 1px;
    margin-right: 5px;
    margin-top: 1px;
}

.navbar { background-color: #ffffff; }