@using System.Threading.Tasks
@using PushMeNow.AspNet5.Models
@model Message

@{
    ViewData["Title"] = "Send message to " + Model.Name;
}

<form asp-action="Send">
    <div class="form-horizontal">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger" />
        <input type="hidden" asp-for="Tags" />
        <input type="hidden" asp-for="RegistrationType" />
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
