@using System.Threading.Tasks
@using Newtonsoft.Json
@using PushMeNow.AspNet5.Models
@model IEnumerable<Registration>

@{
    ViewData["Title"] = "Push Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Registrations</h2>
        <ul>
            @foreach (var registration in Model)
            {
                <li><a asp-controller="Push" asp-action="Send" asp-route-tags="@registration.Tags" asp-route-registrationType="@registration.RegistrationType">@registration.Name</a></li>
            }
        </ul>
    </div>
</div>
