<!DOCTYPE html>
<html ng-app="app">
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/uuid.js"></script>
    <script src="App/clustEncCtrl.js"></script>
    <link rel="stylesheet" href="Content/bootstrap.css"/>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
</head>
<body>
<div class="col-md-12" ng-controller="clustEncCtrl">
    <h2>{{title}}</h2>
    <p>
        <label>UserId:</label>
        <input type="text" style="width: 30%" name="text" ng-model="userId" placeholder="Enter source file URL" required/>
        <button class="btn" ng-click="getTasks()">Refresh</button>
    </p>
    <form name="form" class="form-horizontal">
        <label>Source file URL:</label>
        <input type="url" style="width: 50%" name="url" ng-model="sourceUrl" placeholder="Enter source file URL" required/>
        <button class="btn" ng-click="scheduleTask(form.$invalid)">Schedule new task</button>
    </form>
    <p>
        <table class="table table-striped">
            <tr>
                <td>Task identifier</td>
                <td>State</td>
                <td>Created at</td>
                <td/>
                <td/>
            </tr>
            <tr ng-repeat="encoderTask in encoderTasks track by $index">
                <td>{{encoderTask.Details.TaskId}}</td>
                <td>{{encoderTask.Details.State}}</td>
                <td>{{encoderTask.Details.CreatedAt}}</td>
                <td>
                    <a ng-show="encoderTask.Uri" href="{{encoderTask.Uri}}">Download</a>
                </td>
                <td>
                    <button class="btn" ng-show="encoderTask.BlobName" ng-click="deleteTask(encoderTask.BlobName)">Delete</button>
                </td>
            </tr>
        </table>
    </p>
</div>
</body>
</html>